@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #ffc800;
    --light-color: #ccc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Start Navbar */
.navbar {
    padding: 1.2rem 0;
}

.navbar .container .navbar-brand img {
    height: 1.5rem;
    vertical-align: middle;
}

.navbar .container .nav-link {
    color: var(--light-color);
    margin: 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 200;
    text-transform: uppercase;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.navbar .container .nav-link:hover {
    color: var(--main-color);
}

.navbar .container .navbar-toggler {
    color: var(--light-color);
    font-size: 1.5rem;
    box-shadow: none;
    border-color: var(--light-color);
}

.navbar .container .navbar-toggler[aria-expanded="true"] {
    border-color: var(--main-color);
}

/* End Navbar */
/* Start Header */
.header {
    padding-top: 15rem;
    text-align: center;
    background-image: url('../Images/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
}

.header .container h2 {
    color: #fff;
    font-style: italic;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.header .container h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
}

.header .container a {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.header .container a:hover {
    opacity: 0.9;
}

/* End Header */

/* Start Services */
main .services {
    padding-top: 6rem;
}

main .services .container .row .cart {
    width: 128px;
    height: 128px;
    margin: auto;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

main .services .container .row h4 {
    font-weight: 700;
}

main .services .container .row p {
    line-height: 1.75;
}

/* End Services */

/* Start Portfolio */
main .portfolio .container .content {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

main .portfolio .container .content .img {
    position: relative;
}

main .portfolio .container .content .img::before {
    content: "+";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

main .portfolio .container .content .img:hover:before {
    opacity: 0.9;
}

/* End Portfolio */

/* Start About */
main .about ul li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
}

main .about ul li .img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
}

main .about ul li .img img {
    border: 6px double var(--light-color);
}

main .about ul li .info .heading {
    text-align: end;
}

main .about ul li .info .heading h4 {
    font-weight: 700;
    text-transform: capitalize;
}

main .about ul li .info .heading h6 {
    font-weight: 800;
    font-size: 1.5rem;
}

main .about ul li .info .content p {
    width: 350px;
    text-align: end;
}

main .about ul li .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--light-color);
}

main .about ul li .img .part {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
}

/* End About */

/* Start Team */

main .team .row .img img {
    width: 300px;
    border: 5px double var(--light-color);
}

/* End Team */

/* Start Parteners */
main .parteners .container img {
    cursor: pointer;
}

/* End Parteners */

/* Start Contact */
main .contact {
    background-color: #111;
    background-image: url('../Images/map-image.png');
    background-repeat: no-repeat;
    background-position: center;
}

main .contact input {
    height: 60px;
    box-shadow: none !important;
    border: none;
    outline: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

main .contact textarea {
    resize: none;
    height: 275px;
    box-shadow: none !important;
    border: none;
    outline: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

main .contact input:focus,
main .contact textarea:focus {
    border: 3px solid var(--main-color);
}

main .contact button {
    background-color: var(--main-color) !important;
    border: none;
    padding: 30px 60px;
    margin-top: 30px;
    font-size: large;
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

main .contact button:hover {
    opacity: 0.9;
}

/* End Contact */

/* Start Footer */
footer .container a {
    text-decoration: none;
    color: #333;
    padding: 0 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

footer .container a:hover {
    color: var(--main-color);
}

footer .container .social i {
    padding-left: 10px !important;
}

/* End Footer */

/* Start Media Query */
@media(max-width:768px) {
    .header {
        height: 80vh;
        padding-top: 13rem;
    }

    .header .container h2 {
        font-size: 1.5rem;
    }

    .header .container h1 {
        font-size: 3rem;
    }

    .header .container a {
        font-size: 1.5rem;
        padding: 1rem 1.2rem;
    }

    main .about ul li .info .heading {
        text-align: start;
        margin-top: 20px;
    }

    main .about ul li .info .content p {
        width: 250px;
        text-align: start;
        font-size: 15px;
    }

    main .about ul li .img {
        left: -30px;
    }
}

@media(max-width:320px) {
    .header {
        padding-top: 9rem;
    }

    .header .container h1 {
        font-size: 2rem;
    }

    .header .container a {
        font-size: 1rem;
        padding: 0.8rem 0.9rem;
    }
}

/* End Media Query */
